<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
add_author<br>
<form action="/author/add" method="post">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="date" name="dob"><br>
    <input type="email" name="email" placeholder="email"><br>
    Gender: <select name="gender">
    <option value="MALE">male</option>
    <option value="FEMALE">female</option>
    </select><br>
    <input type="submit">
</form>
</body>
</html>