<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"
        xmlns:th="http://www.thymeleaf.org">
  <title>Title</title>
</head>
<body>
add_book<br>
<form action="/book/edit" method="post">
  <input type="hidden" name="id" th:value="${book.getId()}">
  <input type="text" placeholder="title" name="title" th:value="${book.getTitle()}">
  <select name="author">
    <option th:each="author : ${authors}" th:value="${author.getId()}" th:text="${author.getName()}"></option>
  </select>
  <input type="submit">
</form>
</body>
</html>